#image {
    display: block;
    width: 25%;
    height: auto;
    margin: 50px auto 0;
    border: 4px solid black;
    border-radius: 10px;
  }
  
h1 {
  text-align:center;
  font-family: Georgia, 'Times New Roman', Times, serif ;
  font-size: 10em;
  padding-bottom: -5px;
  }

h2 {
  text-align: center;
  font-family: Times;
  font-size: 5em;
}

body {
  background-image: url(https://i.imgur.com/oJU9Ou3.jpg);
  background-size: cover;
  }

#tribute-link {
  display: block;
  text-align: center;
  font-family: 'sans-serif';
  font-size: 2em;
  color: blanchedalmond;
}
